#ignore these files 
go-cypherium/cmd/cypher/node/

go-cypherium/cmd/cypher/co1/

go-cypherium/cmd/cypher/log/

go-cypherium/cmd/cypher/testdata/

go-cypherium/cmd/cypher/public.toml

go-cypherium/cmd/cypher/debug*
